<table st-table="displayedCollection" st-safe-src="$ctrl.transactionPool" class="table table-striped">
  <thead>
    <tr>
			<th>
				<input st-search placeholder="Search" class="input-sm form-control" type="search"/>
			</th>
		</tr>
  </thead>
  <tbody>
    <tr ng-repeat="trans in displayedCollection">
        <td>
          <div><b>Transaction ID:</b> {{trans.id}}</div>
          <div>
            <b>From: </b>{{trans.from}}
          </div>
          <div ng-if="trans.date">
            <b>Date: </b>{{trans.date|date}}
          </div>
          <div ng-if="trans.message">
            <b>Message: </b>{{trans.message}}
          </div>
          <div>
            <b>Amount: </b>{{trans.amount}}
          </div>
        </td>
    </tr>
  </tbody>
  <tfoot>
  	<tr>
  		<td colspan="1" class="text-center">

    			<div class="page-item" st-pagination="" st-items-by-page="$ctrl.itemsByPage" st-displayed-pages="7"></div>

  		</td>
  	</tr>
  </tfoot>
</table>
